<ion-view view-title="Calculando">
  <ion-nav-buttons side="left">
    <button class="button button-positive button-clear no-animation"
            ng-click="goHome()" ng-show="!slideIndex">
      Cancelar
    </button>
    <button class="button button-positive button-clear no-animation"
            ng-click="previous()" ng-show="slideIndex > 0">
      Atras
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right"> 
    <button class="button button-positive button-clear no-animation"
            ng-click="next()" ng-show="slideIndex != 2">
      Siguiente
    </button>
    <button class="button button-positive button-clear no-animation"
            ng-click="startApp()" ng-show="slideIndex == 2">
      Calcular
    </button>
  </ion-nav-buttons>
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
      <h3>Empecemos con lo primero!</h3>
      <div id="logo">
        <img src="img/like-flat.png" width="150px" >
      </div>
      <p>
        Para que hacerlo tú, deja que tu alumno se identifique.
      </p>
      <p>
        Préstale el celu:
      </p>

      <div class = "list">
          <label class = "item item-input">
             <input type = "text" placeholder = "Nombre Completo" />
          </label>
          <label class = "item item-input">
              <input type = "text" placeholder = "Sobrenombre" />
           </label>
           <label class = "item item-input">
              <input type = "text" placeholder = "Género" />
           </label>
          <label class = "item item-input">
             <input type = "text" placeholder = "Correo" />
          </label>
          <label class = "item item-input">
              <input type = "text" placeholder = "Telefono" />
           </label>
           <label class = "item item-input">
              <input type = "text" placeholder = "País" />
           </label>
       </div>
    </ion-slide>
    <ion-slide>
        <h3>A medir!</h3>
        <div id="logo">
          <img src="https://image.flaticon.com/icons/svg/264/264311.svg" width="150px" >
        </div>
        <p>
          Mide a tu alumno, puedes pedirle que vaya rellenando
        </p>
        <p>
          Trabaja Daniel, dale el celu y mide:
        </p>
  
        <div class = "list">
            <label class = "item item-input">
               <input type = "text" placeholder = "Peso" />
            </label>
            <label class = "item item-input">
                <input type = "text" placeholder = "Altura" />
             </label>
             <label class = "item item-input">
                <input type = "text" placeholder = "Cuello" />
             </label>
            <label class = "item item-input">
               <input type = "text" placeholder = "Cintura" />
            </label>
            <label class = "item item-input">
                <input type = "text" placeholder = "Cadera" />
             </label>
             <div class="list">
                <label class="item item-input item-select">
                    <select>
                        <option selected>Actividad Fisica</option>
                        <option>Nada</option>
                        <option>Ligera</option>
                        <option>Moderada</option>
                        <option>Fuerte</option>
                        <option>Arrechisimo</option>
                    </select>
                </label>
            </div>
         </div>
    </ion-slide>
    <ion-slide>
        <h3>Lo ultimo!</h3>
        <div id="logo">
          <img src="https://www.hhs.gov/ohrp/sites/default/files/icon-what-would-happen.png" width="150px" >
        </div>
        <p>
          Quiero saber tus habitos
        </p>
        <p>
          Préstale el celu:
        </p>
  
        <div class = "list">
            <label class = "item item-input">
               <input type = "text" placeholder = "Cuantas veces comes al día?" />
            </label>
            <label class = "item item-input">
                <input type = "text" placeholder = "Que comes generalmente?" />
             </label>
             <div class="list">
                <label class="item item-input item-select">
                    <select>
                        <option selected>Has hecho dieta antes?</option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </label>
            </div>
            <div class="list">
                <label class="item item-input item-select">
                    <select>
                        <option selected>Tomado suplementos?</option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </label>
            </div>
            <div class="list">
                <label class="item item-input item-select">
                    <select>
                        <option selected>Entranas en:</option>
                        <option>Casa</option>
                        <option>Gym</option>
                    </select>
                </label>
            </div>
            <div class="list">
                <label class="item item-input item-select">
                    <select>
                        <option selected>Tienes alguna lesión grave:</option>
                        <option>Casa</option>
                        <option>Gym</option>
                    </select>
                </label>
            </div>
         </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>