<ion-view view-title="Define Tu Cuerpo">
    <ion-nav-buttons side="right">
        <button class="button button-positive button-clear no-animation"
                ng-click="upload()" ng-show="!slideIndex">
          Sincronizar
        </button>
      </ion-nav-buttons>
  <ion-content class="home Absolute-Center">
      <div ion-fixed>
         <button ng-click="startApp()" class="button start button-full button-positive">
          Empezar
      </button>
      <div/>
      

  </ion-content>

</ion-view>
