/* Empty. Add your own CSS if you like */


.home {
    background-image: url('../img/IMG_0072.JPG');
    background-size: cover;
    cursor: url('https://ionicframework.com/img/finger.png'), auto;
}

body {
    cursor: url('https://ionicframework.com/img/finger.png'), auto;
  }
  .slider {
    height: 100%;
  }
  .slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;
  
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
  }
  
  #logo {
    margin: 30px 0px;
  }
  
  #list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
  }
  #list ol {
    margin-top: 30px;
  }
  #list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
  }
  
  .button.ng-hide{
    display:none;
  }

  .start{
      background-color: #47b475 !important ;
      opacity: 0.95;
      font-size: 1.5em;
  }

  .Absolute-Center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
}

.green-back{
    background-color: #47b475 !important ;
}

.item-select {
    height: 40px;
}

.item-select select {
    max-width: 100%;
    width: 100%;
}
